<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta nama_lowongan="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="icon/favicon.ico">
  <title>Pusat Karir - Data Lowongan</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  
</head>

<body>
  <div class="container">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pusat Karir</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="about.html">About</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Master
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="perusahaan.html">Perusahaan</a></li>
                <li><a class="dropdown-item" href="lowongan.html">Lowongan</a></li>
                <li><a class="dropdown-item" href="alumni.html">Alumni</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div id="app">
  
      <div class="container">
        <div class="py-5 text-center">
          <h2>Data Lowongan</h2>
          <!-- <p class="lead">Below is an example of CRUD operation using VueJS</p> -->
        </div>
  
        <div class="col-md-12">
          <h4 class="mb-3">Lowongan Data <button class="btn btn-md btn-info" style="float: right;" v-on:click="resetForm()">Create new Lowongan
            </button>
          </h4>
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Nama Perusahaan</th>
              <th>Nama Lowongan</th>
              <th>Jumlah Pelamar</th>
              <th>Deskripsi</th>
              <th>Tanggal Dibuat</th>
              <th>Tanggal Selesai</th>
              <th>Status</th>
              <th>Pendidikan</th>
              <th>Jabatan</th>
              <th>Jenis Pekerjaan</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <tr v-for="user in users">
              <td>{{ user.id }}</td>
              <td v-for="p in perusahaan" v-if="p.id === user.id_perusahaan">{{ p.name }}</td>
              <td>{{ user.nama_lowongan }}</td>
              <td>{{ user.jumlah_pelamar }}</td>
              <td>{{ user.deskripsi }}</td>
              <td>{{ user.tanggal_dibuat }}</td>
              <td>{{ user.tanggal_selesai }}</td>
              <td v-if="user.status === true">
                  Dibuka
              </td>
              <td v-if="user.status === false">
                  Ditutup
              </td>
              <td>{{ user.pendidikan }}</td>
              <td>{{ user.jabatan }}</td>
              <td>{{ user.jenis_pekerjaan }}</td>
              <td><button class="btn btn-md btn-warning" v-on:click="getEdit(user)">Edit</button></td>
              <td><button class="btn btn-danger" v-on:click="getDelete(user)">Delete</button></td>
            </tr>
          </table>
  
          <div v-if="message" class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
  
  
          <h4 class="mb-3">Lowongan Information</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="id_perusahaan">Nama Perusahaan</label>
                <select name="id_perusahaan" id="id_perusahaan" v-model="id_perusahaan" class="form-select" required>
                  <option v-for="p in perusahaan" :value="p.id">{{ p.name }}</option>
                </select>
                <div class="invalid-feedback">
                  Choose Nama Perusahaan is required.
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="nama_lowongan">Nama Lowongan</label>
                <input v-model="nama_lowongan" type="text" class="form-control" id="nama_lowongan" placeholder="" value=""
                  required>
                <div class="invalid-feedback">
                  Valid nama_lowongan is required.
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="jumlah_pelamar">Jumlah Pelamar</label>
                <input v-model="jumlah_pelamar" type="number" class="form-control" id="jumlah_pelamar" placeholder="Jumlah Pelamar" required>
                <div class="invalid-feedback">
                  Valid Jumlah Pelamar is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="deskripsi">Deskripsi</label>
              <div class="input-group">
                <textarea name="deskripsi" v-model="deskripsi" id="deskripsi" cols="30" rows="10" required class="form-control"></textarea>
                <div class="invalid-feedback" style="width: 100%;">
                  Your Deskripsi is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="tanggal_dibuat">Tanggal Dibuat</label>
              <div class="input-group">
                <input v-model="tanggal_dibuat" type="date" class="form-control" id="tanggal_dibuat" placeholder="Tanggal Dibuat" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your tanggal_dibuat is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="tanggal_selesai">Tanggal Selesai</label>
              <div class="input-group">
                <input v-model="tanggal_selesai" type="date" class="form-control" id="tanggal_selesai" placeholder="Tanggal Selesai" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your tanggal_selesai is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="pendidikan">Pendidikan</label>
              <div class="input-group">
                <input v-model="pendidikan" type="text" class="form-control" id="pendidikan" placeholder="Pendidikan" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your Pendidikan is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="jabatan">Jabatan</label>
              <div class="input-group">
                <input v-model="jabatan" type="text" class="form-control" id="jabatan" placeholder="Jabatan" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your Jabatan is required.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="jenis_pekerjaan">Jenis Pekerjaan</label>
              <div class="input-group">
                <input v-model="jenis_pekerjaan" type="text" class="form-control" id="jenis_pekerjaan" placeholder="Jenis Pekerjaan" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your Jenis Pekerjaan is required.
                </div>
              </div>
            </div>
        </div>
  
        <hr class="mb-4">
        <button v-if="!editMode && !deleteMode" v-on:click="createUser" class="btn btn-success btn-lg btn-block"
          type="submit">Submit Data</button>
        <button v-if="editMode" v-on:click="updateUser" class="btn btn-warning btn-lg btn-block" type="submit">Update
          Data</button>
        <button v-if="deleteMode" v-on:click="deleteUser" class="btn btn-danger btn-lg btn-block" type="submit">Delete
          Data</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 FTI UNAI</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        <ul class="list-inline">
          <i class="bi bi-facebook text-primary"  style="font-size: 2rem;"><a href="#"></a></i>
          <i class="bi bi-whatsapp text-success" style="font-size: 2rem;"><a href="#"></a></i>
          <i class="bi bi-instagram text-danger" style="font-size: 2rem;"><a href="#"></a></i>
      </ul>
      </ul>
    </footer>
  
    </div>
  
  
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          errors: [],
          message: null,
          users: [],
          perusahaan: [],
          onePerusahaan: {},
          userIdEdit: null,
          userIdDelete: null,
          editMode: false,
          deleteMode: false,
          id_perusahaan: '',
          nama_lowongan: '',
          jumlah_pelamar: '',
          deskripsi: '',
          tanggal_dibuat: '',
          tanggal_selesai: '',
          pendidikan: '',
          jabatan: '',
          jenis_pekerjaan: ''
        },
        mounted: function () {
          this.getData();
        },
        methods: {
          resetFormTotal(){
            this.editMode = false;
            this.deleteMode = false;
            this.userIdEdit = null;
            this.id_perusahaan = null;
            this.nama_lowongan = null;
            this.jumlah_pelamar = null;
            this.deskripsi = null;
            this.tanggal_dibuat = null;
            this.tanggal_selesai = null;
            this.pendidikan = null;
            this.jabatan = null;
            this.jenis_pekerjaan = null;
          },
          getData() {
            axios.get('https://621d622a806a09850a58e60c.mockapi.io/Lowongan')
              .then(response => {
                this.users = response.data;
                this.resetFormTotal();
                console.log(response);
              })
              .catch(error => {
                console.log(error);
              });

            axios.get('https://621d622a806a09850a58e60c.mockapi.io/Perusahaan')
              .then(response => {
                this.perusahaan = response.data;
                console.log(response);
              })
              .catch(error => {
                console.log(error);
              });
          },
          createUser: function () {
            axios.post('https://621d622a806a09850a58e60c.mockapi.io/Lowongan', {
                id_perusahaan: this.id_perusahaan,
                nama_lowongan: this.nama_lowongan,
                jumlah_pelamar: this.jumlah_pelamar,
                deskripsi: this.deskripsi,
                tanggal_dibuat: this.tanggal_dibuat,
                tanggal_selesai: this.tanggal_selesai,
                pendidikan: this.pendidikan,
                jabatan: this.jabatan,
                jenis_pekerjaan: this.jenis_pekerjaan,
                status: true
              })
              .then(response => {
                this.getData();
                this.message = "Your data has been submitted";
                console.log(response);
              })
              .catch(error => {
                console.log(error);
              });
          },
          resetForm: function () {
            this.message = null;
            this.editMode = false;
            this.deleteMode = false;
            this.userIdEdit = null;
            this.id_perusahaan = null;
            this.nama_lowongan = null;
            this.jumlah_pelamar = null;
            this.deskripsi = null;
            this.tanggal_dibuat = null;
            this.tanggal_selesai = null;
            this.pendidikan = null;
            this.jabatan = null;
            this.jenis_pekerjaan = null;
          },
          getEdit: function (lowongan) {
            this.message = null;
            this.editMode = true;
            this.deleteMode = false;
            this.userIdEdit = lowongan.id;
            this.id_perusahaan = lowongan.id_perusahaan;
            this.nama_lowongan = lowongan.nama_lowongan;
            this.jumlah_pelamar = lowongan.jumlah_pelamar;
            this.deskripsi = lowongan.deskripsi;
            this.tanggal_dibuat = lowongan.tanggal_dibuat;
            this.tanggal_selesai = lowongan.tanggal_selesai;
            this.pendidikan = lowongan.pendidikan;
            this.jabatan = lowongan.jabatan;
            this.jenis_pekerjaan = lowongan.jenis_pekerjaan;
          },
          getDelete: function (lowongan) {
            this.message = null;
            this.deleteMode = true;
            this.editMode = false;
            this.userIdDelete = lowongan.id;
            this.id_perusahaan = lowongan.id_perusahaan;
            this.nama_lowongan = lowongan.nama_lowongan;
            this.jumlah_pelamar = lowongan.jumlah_pelamar;
            this.deskripsi = lowongan.deskripsi;
            this.tanggal_dibuat = lowongan.tanggal_dibuat;
            this.tanggal_selesai = lowongan.tanggal_selesai;
            this.pendidikan = lowongan.pendidikan;
            this.jabatan = lowongan.jabatan;
            this.jenis_pekerjaan = lowongan.jenis_pekerjaan;
          },
          updateUser: function () {
            axios.put(`https://621d622a806a09850a58e60c.mockapi.io/Lowongan/${this.userIdEdit}`, {
                id_perusahaan: this.id_perusahaan,
                nama_lowongan: this.nama_lowongan,
                jumlah_pelamar: this.jumlah_pelamar,
                deskripsi: this.deskripsi,
                tanggal_dibuat: this.tanggal_dibuat,
                tanggal_selesai: this.tanggal_selesai,
                pendidikan: this.pendidikan,
                jabatan: this.jabatan,
                jenis_pekerjaan: this.jenis_pekerjaan
              })
              .then(res => {
                // handle success
                this.message = "Your data has been updated";
                this.getData();
              })
              .catch(err => {
                // handle error
                console.log(err);
              })
          },
          // Delete User
          deleteUser: function () {
            axios.delete(`https://621d622a806a09850a58e60c.mockapi.io/Lowongan/${this.userIdDelete}`)
              .then(res => {
                // handle success
                this.message = "Your data has been deleted";
                this.getData();
              })
              .catch(err => {
                // handle error
                console.log(err);
              })
          }
        }
      })
    </script>

  </div>
</body>

</html>